body{
    margin:0;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

header{
    padding: 20px;
    background-color: rgb(53, 48, 48);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
     top:0;
  position:sticky;
  z-index:100;
  padding-bottom: 0;
}

.logo{
    font-size: 70px;
    display: inline-block;
    animation: pluse 1.5s infinite;
}

h1 {
  margin: 0; 
  font-size: 28px;
}


@keyframes pluse {
   0% {
    transform: scale(1);
    color: white;
    text-shadow: 0 0 5px rgb(218, 51, 51);
   }
   50% {
    transform: scale(1.3);
    color: rgb(175, 29, 29);
    text-shadow: 0 0 20px rgb(206, 20, 20);
   }
   100% {
    transform: scale(1);
    color: white;
    text-shadow: 0 0 5px rgb(218, 51, 51);
   }
}


nav{
    margin: 0;
    background-color: rgb(53, 48, 48);
    color: white;
    position: sticky;
    z-index: 100;
    top:0;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap:2rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
}

nav a:hover{
    text-decoration: underline;
}


.navbar-text {
    margin: 0;
    background-color: aquamarine;
    height: 40px;
    overflow: hidden;
    white-space: nowarp;
}

.navbar-text p {
    display: inline-block;
    animation: moveRight  6s infinite;
}

@keyframes moveRight {
    from{
        transform: translateX(-100vw);
    }

    to{
        transform: translateX(100vw);
    }

}

main {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.problem{
    display: flex;
    flex-direction: column;
    gap:20px;
} 

.box{
    display: flex;
    gap:20px;
}

.card {
    background-color: beige;
    padding: 15px 20px;
    border-radius: 12px;
    text-shadow: 0 4px 12px rgb(49, 35, 35);
    text-align: center;
}

.card input{
    margin: 5px;
    padding: 8px;
    font-size:16px;
}

.quiz-text {
  text-align: center;
}

.question {
      margin-bottom: 20px;
}
.options label {
display: block;
margin: 4px 0;
}


   .progress-container {
      background-color: #eee;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
      height: 20px;
    }
    .progress-bar {
      background-color: #28a745;
      height: 100%;
      width: 0%;
      transition: width 0.3s ease;
    }
    .progress-text {
      text-align: center;
      margin-top: 4px;
      font-size: 14px;
    }














.footter-text{
    margin: 0;
    background-color: rgb(116, 238, 197);
    height: 40px;
    overflow: hidden;
    white-space: nowarp;
}
.footer-text p {
    display: inline-block;
    animation: moveLeft  6s infinite;
}

@keyframes moveLeft {
    from{
        transform: translateX(100vw);
    }

    to{
        transform: translateX(-100vw);
    }

}



