body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  padding: 20px;
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between; /* Push logo left, title right */
  align-items: center;            /* Align vertically */
 
}
.logo {
  font-size: 70px;
  display: inline-block;
  animation: pulse 1.5s infinite;
}
h1 {
  margin: 0; 
  font-size: 28px;
}
@keyframes pulse {
  0% { transform: scale(1); color: #fff; text-shadow: 0 0 5px #ff4444; }
  50% { transform: scale(1.3); color: #ff4444; text-shadow: 0 0 20px #ff4444; }
  100% { transform: scale(1); color: #fff; text-shadow: 0 0 5px #ff4444; }
}
.scroll-text {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.scroll-text p {
  display: inline-block;
  animation: moveRight 9s linear infinite;
}
@keyframes moveRight {
  from { transform: translateX(-100vw); }
  to { transform: translateX(100vw); }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.calculator {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box{
  display: flex;
  gap:15px;
}
.card {
  background: #fff;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}
.inputs select,
.inputs input,
button,
.card select,
.card input {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}
button {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background: #ff4444;
  transform: scale(1.05);
}
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}
.footer-text {
  display: inline-block;
  animation: moveLeft 9s linear infinite, glow 10s infinite alternate;
}
@keyframes moveLeft {
from { transform: translateX(100vw); }
  to { transform: translateX(-100vw); }
}
@keyframes glow {
  from { text-shadow: 0 0 5px #0ff, 0 0 10px #0ff; }
  to { text-shadow: 0 0 20px #0ff, 0 0 30px #0ff; }
}
